.main{
    position: relative;
    height: auto;
    /*width: 1026px;*/
    /*border: deepskyblue;*/
    border-style: solid;
    border-color: deepskyblue;
    width: 99%;
    /*border-width: 2px;*/
    /*display: inline-block;*/
    /*background-color: deepskyblue;*/
}

button{
    position: absolute;
    margin: 133px 0px 0px 164px;
}

div{
    padding: 2px;
    display: inline-block;
    vertical-align: top;
    width: auto;
}

div > h1{
    color: darkblue;
}

div > a{
    padding: 2px;
    float: right;
}

.flot-to-right{
    float: top;
    vertical-align: bottom;
    padding: 5%;
}

div > a:link{
    color: deepskyblue;
}