.main{
    position: relative;
    /*height: 50px;*/
    /*width: 350px;*/
    /*border: deepskyblue;*/
    border-style: solid;
    border-color: deepskyblue;
    /*border-width: 2px;*/
    /*display: inline-block;*/
    /*background-color: deepskyblue;*/
}

button{
    position: absolute;
    margin: 133px 0px 0px 164px;
}

div{
    padding: 2px;
    display: inline-block;
}

div > h1{
    display: inline-block;
    vertical-align: sub;
}

div > a{
    padding: 2px;
    float: right;
}

